/*
@font-face {
    font-family: Roboto;
    src: url("../fonts/RobotoLight.ttf");
}
*/

.scene {
    -fx-background-color: #e7e7e7;
    -fx-font-size: 12px;
}

.menu-bar .context-menu {
    -fx-min-width: 125px;
}

.choice-box .context-menu {
    -fx-min-width: 450px;
}

.text-field {
    -fx-border-width: 1px;
}

.error-border {
    -fx-border-width: 1px;
    -fx-border-color: #c23434;
    -fx-border-radius: 3px;
}

.error-border:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: dropshadow(two-pass-box, rgba(232, 17, 35, 0.25), 2.5, 1.0, 0, 0);
}

.h3 {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.h4 {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.h5 {
    -fx-font-size: 12px;
}

.manual-button {
    -fx-padding: 0;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-text-fill: #026a8b;
    -fx-background-color: transparent;
}

.manual-button:focused {
    -fx-text-fill: #004a63;
    -fx-background-color: transparent;
}

.manual-button:hover {
    -fx-text-fill: #018dba;
    -fx-background-color: transparent;
}

.text-area {
    -fx-pref-width: 314px;
    -fx-border-color: none;
    -fx-effect: none;
    -fx-text-box-border: transparent;
}